<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="enviroment" type="RunIt.Infra.Configuration.EnviromentConfigurationSection, RunIt"/>
    </configSections>
    <enviroment>
        <applications>
            <add alias="sqlm" filename="notepad.exe" name="SQL Management Studio"/>
        </applications>
      <credentials>
        <add name="dev" username="augusto.mesquita" password="123.123" domain="buy4dev" />
        <add name="np" username="augusto.mesquita" password="123.123" domain="buy4np" />
      </credentials>
    </enviroment>
</configuration>
