<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="enviroment" type="RunIt.Infra.Configuration.EnviromentConfigurationSection, RunIt"/>
    </configSections>
    <enviroment>
        <applications>
            <add alias="sqlm" filename="C:\Program Files(x86)\Microsoft SQL Management Studio\17.0\Binn\sqlmanagement.exe" name="SQL Management Studio"/>
        </applications>
    </enviroment>
</configuration>
